#RewriteEngine On
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<IfModule mod_headers.c>    
    Header set Access-Control-Allow-Origin *
</IfModule>
RewriteCond %{HTTPS} on
# or RewriteCond %{SERVER_PORT} ^443$
RewriteCond %{REQUEST_URI} !^(app)/

RewriteRule .? http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<FilesMatch "\.(js|css|ico|pdf|flv|jpg|jpeg|png|gif|swf|mp3|mp4|ttf|woff|woff2)$">
Header set Cache-Control "public"
Header set Expires "Thu, 15 Apr 2025 20:00:00 GMT"
</FilesMatch>
